In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('Dogs-Database.csv')

In [7]:
df.head()

,Name (Latin),Name (English),Name (Cyrillic),Gender,Flights,Fate,Notes
0,Dezik,Dezik,Дезик,Male,"1951-07-22,1951-07-29",Died 1951-07-29,NaN
1,Tsygan,Gypsy,Цыган,Male,1951-07-22,Survived,Adopted as a pet by Soviet physicist Anatoli B...
2,Lisa,Fox,Лиса,Female,1951-07-29,Died 1951-07-29,NaN
3,Chizhik,Siskin,Чижик,Male,"1951-08-15,1951-08-28",Died 1951-08-28,NaN
4,Mishka,Little Bear,Мишка,Male,"1951-08-15,1951-08-28",Died 1951-08-28,NaN

In [8]:
df.columns

Index(['Name (Latin)', 'Name (English)', 'Name (Cyrillic)', 'Gender',
       'Flights', 'Fate', 'Notes'],
      dtype='object')

In [9]:
df.iloc[0]['Name (English)']

'Dezik'

In [16]:
type(df.iloc[1]['Fate'])

str

In [50]:
final_list=[]
for i in range(len(df)):
    name=df.iloc[i]['Name (English)']
    f_year=df.iloc[i]['Flights'].split('-')[0]
    gender=df.iloc[i]['Gender']
    fate=df.iloc[i]['Fate'].split()[0]
    li=[name,f_year,gender,fate]
    final_list.append(li)

In [52]:
len(final_list),final_list

(48,
 [['Dezik', '1951', 'Male', 'Died'],
  ['Gypsy', '1951', 'Male', 'Survived'],
  ['Fox', '1951', 'Female', 'Died'],
  ['Siskin', '1951', 'Male', 'Died'],
  ['Little Bear', '1951', 'Male', 'Died'],
  ['Ginger', '1951', 'Male', 'Survived'],
  ['Courageous', '1951', 'Male', 'Survived'],
  ['Scamp', '1951', 'Male', 'Survived'],
  ['Substitute for Missing Bobik', '1951', 'Male', 'Survived'],
  ['Fox', '1951', 'Female', 'Died'],
  ['Ginger', '1951', 'Male', 'Died'],
  ['Little Lady', '1954', 'Female', 'Survived'],
  ['Little Bear', '1954', 'Male', 'Died'],
  ['Ginger', '1954', 'Male', 'Survived'],
  ['Rita', '1955', 'Female', 'Died'],
  ['Linda', '1955', 'Female', 'Survived'],
  ['Bulba', '1955', 'Female', 'Died'],
  ['Button', '1955', 'Female', 'Died'],
  ['Little One', '1955', 'Female', 'Survived'],
  ['Whitey', '1956', 'Female', 'Survived'],
  ['Little Gnat', '1956', 'Female', 'Survived'],
  ['Little Lady', '1957', 'Female', 'Survived'],
  ['Dzhoyna', '1957', 'Female', 'Died'],
  ['Redhead', '1957', 'Female', 'Died'],
  ['Squirrel', '1957', 'Female', 'Survived'],
  ['Fashionable', '1957', 'Female', 'Survived'],
  ['Barker', '1957', 'Female', 'Died'],
  ['Palm', '1958', 'Female', 'Died'],
  ['Fluffy', '1958', 'Male', 'Died'],
  ['Biter / Brave One', '1959', 'Female', 'Survived'],
  ['Palm', '1958', 'Female', 'Survived'],
  ['Little Whitey', '1958', 'Female', 'Survived'],
  ['Spotted', '1958', 'Female', 'Survived'],
  ['Zhulba', '1958', 'Female', 'Died'],
  ['Snowflake / Pearly', '1959', 'Female', 'Survived'],
  ['Small Fry', '1960', 'Male', 'Survived'],
  ['Little Fox', '1960', 'Female', 'Died'],
  ['Panther / Seagull', '1960', 'Female', 'Died'],
  ['Little Arrow', '1960', 'Female', 'Survived'],
  ['Neva', '1960', 'Female', 'Survived'],
  ['Little Fly', '1960', 'Female', 'Died'],
  ['Little Bee', '1960', 'Female', 'Died'],
  ['Joke', '1960', 'Female', 'Survived'],
  ['Blackie', '1961', 'Female', 'Survived'],
  ['Comet', '1960', 'Female', 'Survived'],
  ['Little Star', '1961', 'Female', 'Survived'],
  ['Little Piece of Coal / Snowball', '1966', 'Male', 'Survived'],
  ['Little Wind / Little Fart', '1966', 'Male', 'Survived']])

In [53]:
d_frame = pd.DataFrame(columns=['src','dest'])

In [54]:
d_frame

Empty DataFrame
Columns: [src, dest]
Index: []

In [ ]:
name,f_year,gender,fate

In [55]:
i=0
for val in final_list:
    name=val[0]
    f_year=val[1]
    gender=val[2]
    fate=val[3]
#     d_frame.iloc[i]['src']=name
#     d_frame.iloc[i]['dest']=year
#     i+=1
#     d_frame.iloc[i]['src']=year
#     d_frame.iloc[i]['dest']=gender
#     i+=1
    new_row = {'src':name, 'dest':f_year}
    d_frame = d_frame.append(new_row, ignore_index=True)
    new_row = {'src':f_year, 'dest':gender}
    d_frame = d_frame.append(new_row, ignore_index=True)
    new_row = {'src':gender, 'dest':fate}
    d_frame = d_frame.append(new_row, ignore_index=True)

In [56]:
d_frame

                           src      dest
0                        Dezik      1951
1                         1951      Male
2                         Male      Died
3                        Gypsy      1951
4                         1951      Male
..                         ...       ...
139                       1966      Male
140                       Male  Survived
141  Little Wind / Little Fart      1966
142                       1966      Male
143                       Male  Survived

[144 rows x 2 columns]

In [57]:
d_frame.to_csv('dogs.csv')

In [13]:
# accepting a file name
filename = input("Enter a filename:")
try:
    #trying to open a file in read mode
    fin = open(filename,"r")
    # accept the word to search
    word = input("Enter word to search:")
    # line with a space character to start the loop
    line =" "
    # count to keep the count of the word present in the file
    count =0
    while(line):
        line = fin.readline()
        L = line.split()
        for i in L:
            if i == word:
                # increment the count
                count += 1
    print("The word: ","'"+word+"'"," was found",count," times")
  
except FileNotFoundError:
    print("File does not exist. Please try again")

Enter a filename:data.txt
Enter word to search:Jamal
The word:  'Jamal'  was found 2  times